POSTGRES_DB = movies_database
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_HOST = postgres
POSTGRES_PORT = 5432

ELASTIC_HOST = elasticsearch
ELASTIC_PORT = 9200
ELASTIC_INDEX = movies

STATE_FILENAME = state

TIMEOUT = 10
